name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    pipeline:
        uses: NextNodeSolutions/infrastructure/.github/workflows/pipeline-package.yml@main
        secrets: inherit
