name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    pipeline:
        uses: NextNodeSolutions/pipelines/.github/workflows/package.yml@main
        secrets: inherit
